header footer {
  margin: 20px;
}

body {
  background-image: url("images/skyline.jpeg");
}

.blackBackground {
  background-color: black;
}

.whiteText {
  color: white;
}

h1, h2, h3, h4, .fontPosition{
  font-family: DIN-Alternate, arial, times;
  text-align: center;
}

p {
  font-family: DIN-Alternate, arial, times;
  text-align: left;
  margin: 0px 50px 0px 50px;
  font-size: 14px;
}

ul, ol, .listFont {
  font-family: DIN-Alternate, arial, times;
  text-align: left;
  margin: auto 40px auto 40px;
  font-size: 14px;
}

.pageSize {
  width: 600px;
  margin: auto;
}

.listInside {
  list-style-position: inside;
  color: black;
}

hr {
  border: 1px solid black;
  height:1px;
}
 
a:link {color: blue;}
a:visited {color: red;}

.box {
  background-color: floralWhite;
  padding: 20px;
}

.round {
  border-radius: 10px;
}
