/* set header and footer margins*/
header footer {
  margin: 20px;
}

/*set background image*/
body {
  background-image: url("images/skyline.jpeg");
}

/*background color for header and footer*/
.blackBackground {
  background-color: black;
}

/*white text for header and footer*/
.whiteText {
  color: white;
}

/*sets fonts, margins and alignment styles for thw titles*/
h1, h2, h3, h4, .fontPosition{
  font-family: DIN-Alternate, arial, times;
  text-align: center;
}

/*sets font, alignment, margin, and size of paragraph text*/  
p {
  font-family: DIN-Alternate, arial, times;
  text-align: left;
  margin: 0px 50px 0px 50px;
  font-size: 14px;
}

/*sets font, alignment, margin, and size of list text*/
ul, ol, .listFont {
  font-family: DIN-Alternate, arial, times;
  text-align: left;
  margin: auto 40px auto 20px;
  font-size: 14px;
}

/*used in the html main section*/
.pageSize {
  width: 600px;
  margin: auto;
}

.listInside {
  list-style-position: inside;
  color: black;
}

hr {
  border: 1px solid black;
  height:1px;
}

 /*link styles*/
a:link {color: blue;}
a:visited {color: red;}

/*sets box color and padding*/
.box {
  background-color: floralWhite;
  padding: 20px;
}

/*makes the border edges round*/
.round {
  border-radius: 10px;
}
